body {
	background: #f2f2f2;
}

.titulo{
	margin-left: 10px;
}



.img-edit {
    vertical-align: middle;
    border-style: none;
    border-radius: 100%;
    width: 10%;
 }

 .p-1-e {
  	margin-top: 0;
    margin-bottom: 1rem;
    float: right;
    width: 85%;
 }

 .items {
  	margin-left: 8%;
 }

 .theader-orange {
  	background-color:  #f2b80da8;
 }

 .table {
    margin-top: 20px;
}
 
     